#qualityFeature {
  padding-top: 80px;
  padding-bottom: 80px;
  color: var(--heading-secondary);

  .qualityFeature__contains {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.quality__title {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -5px;
  margin-bottom: 50px;

  p {
    color: var(--heading-primary);
    text-align: center;
    font-size: 12px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 8px;
    line-height: 1.5;
    opacity: 1;
  }

  h2 {
    color: var(--heading-secondary);
    font-size: 24px;
    line-height: 1.3;
    text-align: center;
    font-weight: 700;
    letter-spacing: -0.5px;
  }
}

.quality__content {
  display: grid;
  grid-gap: 37px 0;
  padding-top: 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: repeat(1, 1fr);

  .quality__item {
    display: flex;
    align-items: flex-start;

    img {
      max-width: 100%;
      width: 60px;
      height: auto;
      height: auto;
      flex-shrink: 0;
      margin-right: 15px;
    }
  }
}

.quality__text {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: -5px;

  h2 {
    letter-spacing: -0.5px;
    font-size: 18px;
    color: var(--heading-secondary);
    line-height: 1.4;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 2px;
  }

  p {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.85;
  }
}

@media screen and (min-width: 480px) {
  #qualityFeature {
    .qualityFeature__contains {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
  .quality__content {
    width: 80%;
    .quality__item {
      img {
        margin-right: 20px;
      }
    }
  }
}
@media screen and (min-width: 640px) {
  #qualityFeature {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .quality__title {
    margin-bottom: 60px;
    p {
      font-size: 14px;
      letter-spacing: 2px;
    }
    h2 {
      font-size: 28px;
    }
  }

  .quality__content {
    grid-gap: 45px 30px;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
  }

  .quality__text p {
    line-height: 2;
  }
}

@media screen and (min-width: 768px) {
  #qualityFeature{
    .qualityFeature__contains {
      max-width: 780px;
    }
  }

  .quality__title {
    h2 {
      line-height: 1.2;
    }
  }
}

@media screen and (min-width: 1024px) {
  #qualityFeature{
    .qualityFeature__contains {
      max-width: 1020px;
    }
  }

  .quality__title {
    margin-bottom: 65px;
  }

  .quality__content {
    grid-gap: 50px 30px;
    grid-template-columns: repeat(3, 1fr);

    img {
      width: 55px;
      margin-right: 15px;
    }
  }
}

@media screen and (min-width: 1220px) {
  #qualityFeature {
    padding-top: 120px;
    padding-bottom: 120px;
    
    .qualityFeature__contains {
      max-width: 1200px;
    }
  }
  .quality__title {
    margin-bottom: 75px;
    h2 {
      font-size: 32px;
    }
  }

  .quality__content {
    img {
      width: 70px;
      margin-right: 20px;
    }
  }

  .quality__text {
    h2 {
      font-size: 20px;
      margin-bottom: 15px;
    }
  }
}

@media screen and (min-width: 1620px) {
  .quality__title {
    h2 {
      font-size: 36px;
    }
  }
  .quality__content {
    padding-top: 15px;
    grid-gap: 90px 70px;
  }
}
